@charset "UTF-8";
@font-face {
  font-family: 'WenQuanYi MicroHei';
  font-weight: 400;
  font-style: normal;
  src: local("WenQuanYi MicroHei"), url("../fonts/wenquanyi-microhei/WenQuanYi Micro Hei.ttf") format("truetype");
}

html,
button,
select,
html,
textarea,
input {
  font-family: Helvetica, Tahoma, Arial, "WenQuanYi MicroHei", "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

md-toast.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

body {
  background: #ececec;
  overflow: hidden;
}

.drop-container {
  text-align: center;
}

.drop-container .drop-center {
  min-height: 250px;
}

.drop-container .drop-area {
  height: 100%;
  border: 1px dotted #acacac;
  background: #efefef;
  border-radius: 8px;
}

.drop-container .drop-area.drop-active {
  border: 1px dotted #e91e63;
}

.dialog-with-adder {
  padding: 15px 50px;
  min-width: 300px;
}

.dialog-with-adder + .dialog-with-adder {
  padding-top: 0;
}

.md-button.md-icon-button.md-icon-button-mini {
  margin: 0;
  padding: 0;
  opacity: .35;
}

.md-button.md-icon-button.md-icon-button-mini:hover {
  opacity: 1;
}

.md-button-custom ng-md-icon {
  position: relative;
  vertical-align: middle;
  margin-right: 15px;
}

.md-button-custom ng-md-icon svg {
  position: relative;
  top: 4px;
}

.md-input-container-higher md-input-container {
  margin-bottom: 40px;
}

.md-full-width {
  width: 100%;
}

input[my-input-uppercase] {
  text-transform: uppercase;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 10px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

md-tab-content > div,
md-tab-content > div > div {
  height: 100%;
}

.table-header {
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 12px;
  font-size: 13px;
  color: #aaa !important;
}

.table-header > ng-md-icon {
  position: relative;
  top: 5px;
  padding: 0 4px;
}

.table-header md-input-container {
  margin: 0 !important;
}

.table-footer {
  height: 50px;
  background: #fff;
  font-size: 13px;
  color: #aaa;
  padding-left: 12px;
}

.table-footer .num {
  color: #e91e63;
  padding: 0 8px;
}

table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
  padding: 0 10px 0 10px !important;
}

table tr.even {
  background: #ececec;
}

table.table-center th,
table.table-center td {
  text-align: center !important;
}

.grid-container .grid-center md-grid-tile-footer figcaption {
  width: 100%;
}

.grid-container .grid-center md-grid-tile-footer figcaption h3 {
  margin: 0;
  text-align: center;
}

.grid-container .grid-red {
  background: rgba(233, 30, 99, 0.8);
}

.grid-container .grid-red:hover {
  background: #e91e63;
}

.grid-container .grid-blue {
  background: rgba(68, 138, 255, 0.8);
}

.grid-container .grid-blue:hover {
  background: #448aff;
}

.grid-container .grid-orange {
  background: rgba(245, 127, 23, 0.8);
}

.grid-container .grid-orange:hover {
  background: #f57f17;
}
