<md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <ng-md-icon icon="menu" style="fill:white;"></ng-md-icon>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">
                工资条小助手
            </h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        文件
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onOpen();">
                                打开
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="onExit();">
                                退出
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        选项
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onSetting();">
                                设置
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        帮助
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onHelp();">
                                帮助
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onAbout();">
                                关于
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <span flex></span>
        <div>
            <md-button class="md-icon-button md-icon-button-mini" ng-click="onDevTool();">
                <md-tooltip>
                    调试
                </md-tooltip>
                <ng-md-icon icon="code" style="fill:{{mdPrimaryColor}}"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button md-icon-button-mini" ng-click="onMinimize();">
                <md-tooltip>
                    最小化窗口
                </md-tooltip>
                <ng-md-icon icon="remove" style="fill:{{mdPrimaryColor}}"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button md-icon-button-mini" ng-click="onMaximum()">
                <md-tooltip>
                    还原窗口
                </md-tooltip>
                <ng-md-icon icon="crop_16_9" style="fill:grey;"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button md-icon-button-mini" ng-click="onExit();">
                <md-tooltip>
                    退出
                </md-tooltip>
                <ng-md-icon icon="close" style="fill:{{mdPrimaryColor}}"></ng-md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>
