.md-button.md-icon-button.md-icon-button-mini {
	margin: 0;
	padding: 0;
	opacity: .35;

	&:hover {
		opacity: 1;
	}
}

.md-icon-in-button {
	display: inline-block;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	position: relative;
	right: -8px;
}