.md-button.md-icon-button.md-icon-button-mini {
	margin: 0;
	padding: 0;
	opacity: .35;

	&:hover {
		opacity: 1;
	}
}

.md-button-custom {
	ng-md-icon {
		position: relative;
		vertical-align: middle;
		margin-right: 15px;

		svg {
			position: relative;
			top: 4px;
		}
	}
}

.md-button-orange {
	background: $color-orange !important;
	color: #fff !important;
}