body {
    background: #ececec;
    overflow: hidden;
}

.num {
    color: $primary-color;
    padding: 0 8px;
}

.num-success {
    color: $color-green;
    padding: 0 8px;
}
.num-error {
    color: $primary-color;
    padding: 0 8px;
}
.num-warn {
    color: $color-orange;
    padding: 0 8px;
}