.drop-container {
	text-align: center;

	.drop-center {
		min-height: 250px;
	}

	.drop-area {
		height: 100%;
		border: 1px dotted #acacac;
		background: #efefef;
		border-radius: 8px;
	}

	.drop-area.drop-active {
		border: 1px dotted $primary-color;
	}
}