@font-face {
	font-family: 'WenQuanYi MicroHei';
	font-weight: 400;
	font-style: normal;
	src: local('WenQuanYi MicroHei'), url('../fonts/wenquanyi-microhei/WenQuanYi Micro Hei.ttf') format('truetype');
}


html,
button,
select,
html,
textarea,
input {
	font-family: $font-family;
}