.table-header {
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 12px;

	> ng-md-icon {
		position: relative;
		top: 5px;
		padding: 0 4px;
	}
}
.table-footer {
	height: 50px;
	background: #fff;
	font-size: 13px;
	color: #aaa;
	padding-right: 12px;

	.num {
		color: $primary-color;
		padding: 0 8px;
	}
}
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
	padding: 0 10px 0 10px !important;
}
table tr.even {
	background: #ececec;
}
table.table-center {
	th,
	td {
		text-align: center !important;
	}
}