$font-family: Helvetica, Tahoma, Arial, "WenQuanYi MicroHei", "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

$primary-color: #e91e63;

$color-blue: #448aff;
$color-orange: #f57f17;
$color-grey: #e0e0e0;
$color-green: #2e7d32;