<div role="listbox" class="dropmenu">
    <div class="dropmenu-item"  tabindex="-1" role="option" ng-click="onCheckMenu($event);">
        全部
    </div>
    <div class="dropmenu-item"  tabindex="-1" role="option" ng-click="onCheckMenu($event);">
        发送成功
    </div>
    <div class="dropmenu-item"  tabindex="-1" role="option" ng-click="onCheckMenu($event);">
        发送失败
    </div>
    <div class="dropmenu-item"  tabindex="-1" role="option" ng-click="onCheckMenu($event);">
        未发送
    </div>
</div>