<md-dialog aria-label="调整显示项目">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>调整显示项目</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="onClose()" aria-label="关闭">
                    <ng-md-icon icon="close" style="fill: #ffffff;"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="dialog-with-adder">
            <div class="md-dialog-content" layout="row" layout-wrap>
                <div flex="33" ng-repeat="(key,tmpl) in templateDetail">
                    <!--<md-switch ng-model="tmpl.show">-->
                        <!--{{ tmpl.label }}-->
                    <!--</md-switch>-->
                    <md-checkbox ng-model="tmpl.show" aria-label="{{ tmpl.label }}">
                        {{ tmpl.label }}
                    </md-checkbox>
                </div>
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row" layout-align="center center" class="dialog-with-adder">
            <md-button class="md-raised md-primary" md-autofocus ng-click="onClose()" aria-label="确定">
                确定
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
</script>