<md-dialog aria-label="帮助">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>帮助</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()" aria-label="关闭">
                    <ng-md-icon icon="close" style="fill: #ffffff;"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="dialog-with-adder">
            <div class="md-dialog-content" layout="row" layout-align="center center">
                联系作者获取更多帮助
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center" class="dialog-with-adder">
            <md-button class="md-raised md-primary" md-autofocus ng-click="hide()" aria-label="确定">
                确定
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>