<md-content flex layout="column" class="animated zoomIn">
    <div layout="row" class="table-header" md-colors="{'background':'grey-300'}">
        <ng-md-icon icon="history" size="18" style="fill: {{mdPrimaryColor}};"></ng-md-icon>
        <span>历史记录</span>
        <span ng-if="current.year && current.month">
            <ng-md-icon class="icon-fixed" icon="keyboard_arrow_right" size="18" style="fill: #aaa;"></ng-md-icon>
            {{::current.year}}年{{::current.month}}月
        </span>
        <span flex></span>
        <md-button ng-if="current.historyDetail && current.historyDetail.length" class="md-icon-button" aria-label="筛选显示" ng-click="onSelectMenu($event);">
            <ng-md-icon icon="filter_list" style="fill:{{ mdPrimaryColor }};"></ng-md-icon>
        </md-button>
        <md-button ng-if="current.year && current.month" class="md-icon-button" aria-label="打开菜单" ng-click="onDetailDialog($event)">
            <ng-md-icon md-menu-origin icon="more_vert" style="fill:{{mdPrimaryColor}}"></ng-md-icon>
        </md-button>
    </div>
    <div flex layout="column" ui-view="list"></div>
    <md-divider></md-divider>
    <div style="height: 60px;" layout="row" layout-align="end center" class="table-footer">
        <div ng-if="current.historyDetail && current.historyDetail.length">
            <span style="margin-right: 5px;">
                <span ng-if="!current.filter.statusSent">全部</span>
                <span ng-if="(current.filter.statusSent && current.filter.statusSent==STATUS.SUCCESS)">发送成功</span>
                <span ng-if="(current.filter.statusSent && current.filter.statusSent==STATUS.FAIL)">发送失败</span>
                <span ng-if="(current.filter.statusSent && current.filter.statusSent==STATUS.INIT)">未发送</span>
            </span>
            <span class="num">{{(current.historyDetail | filter: current.filter).length}}</span>
            <span>条数据</span>
        </div>
        <span flex></span>
        <md-button ng-if="current.year && current.month" ui-sref="app.history.list" class="md-raised md-primary" aria-label="返回">返回</md-button>
        <md-button ui-sref="app.home" class="md-primary" aria-label="返回首页">返回首页</md-button>
    </div>
</md-content>