<md-content flex layout="column">
    <div layout="row" class="table-header" md-colors="{'background':'grey-300'}">
        <ng-md-icon icon="note" size="18" style="fill: {{mdPrimaryColor}};"></ng-md-icon>
        <span>文件：</span>
        <span>{{current.fileName}}</span>
        <ng-md-icon icon="keyboard_arrow_right" size="18" style="fill: #aaa;"></ng-md-icon>
        <span>{{current.sheetName}}</span>
        <span flex></span>
        <md-menu>
            <md-button class="md-icon-button" aria-label="打开菜单" ng-click="$mdOpenMenu()">
                <ng-md-icon md-menu-origin icon="more_vert" style="fill:{{mdPrimaryColor}}"></ng-md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-disabled="true">
                        显示项目
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item ng-repeat="(key,tmpl) in templateDetail">
                    <md-button>
                        <md-switch ng-model="tmpl.show">
                            {{ tmpl.label }}
                        </md-switch>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <md-divider></md-divider>
    <div flex layout="column">
        <div ng-if="!rowList.length" flex layout="column" layout-align="center center">
            <div>
                <ng-md-icon icon="error" size="40" style="fill: #cccccc;"></ng-md-icon>
            </div>
            <div style="color: #cccccc;">没有数据</div>
        </div>
        <div ng-if="rowList.length" flex layout="column">
            <div flex layout="column">
                <md-table-container>
                    <table md-table md-row-select="true" multiple="true" ng-model="selected" class="table-center">
                        <thead md-head>
                            <tr md-row>
                                <th md-column ng-repeat="(key, tmpl) in templateDetail" ng-show="tmpl.show">
                                    <span>{{ tmpl.label }}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="row" md-auto-select="true" ng-repeat="row in rowList" ng-class="{even: $even, odd: $odd}">
                                <td md-cell ng-repeat="(key, tmpl) in templateDetail" ng-show="tmpl.show">
                                    {{ row[key] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div style="height: 60px;" layout="row" layout-align="end center">
        <span class="table-footer" layout="row" layout-align="end center">
            选择
            <span class="num">{{selected.length}}</span>
            条数据，共
            <span class="num">{{rowList.length}}</span>
            条
        </span>
        <span flex></span>
        <md-button ui-sref="app.sheet.load({filePath:current.filePath})">上一步</md-button>
        <md-button ng-click="onNext();" class="md-raised md-primary" ng-disabled="!rowList.length || !selected.length">下一步</md-button>
    </div>
</md-content>