<md-content flex layout="column" class="animated slideInRight">
    <div flex layout="column">
        <md-content flex layout="column" layout-padding="10px">
            <div flex></div>
            <div layout="row" style="min-height: 150px;">
                <div flex="50" layout="column" layout-align="center center">
                    <div flex>
                        <ng-md-icon icon="note_add" size="50" style="fill:{{mdPrimaryColor}}"></ng-md-icon>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        {{ current.fileName }}
                    </div>
                    <div flex class="subhead">
                        文件中有
                        <span style="color: {{mdPrimaryColor}};">
                            &nbsp;&nbsp;{{ sheetNames.length }}&nbsp;&nbsp;
                        </span>
                        个工作表，请选择:
                    </div>
                </div>

                <md-divider></md-divider>

                <div flex="50" layout="row" layout-align="center center">
                    <md-radio-group ng-model="current.sheetName" class="md-primary">
                        <md-radio-button ng-value="sheetName" ng-repeat="sheetName in sheetNames">{{ sheetName }}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div flex></div>
        </md-content>
    </div>
    <md-divider></md-divider>
    <div style="height: 60px;" layout="row" layout-align="end center">
        <md-button ui-sref="app.sheet.open" aria-label="上一步">上一步</md-button>
        <md-button ng-click="onNext();" class="md-raised md-primary" ng-disabled="!current.sheetName" aria-label="下一步">下一步</md-button>
    </div>
</md-content>