<md-tabs md-selected="nowTab" md-border-bottom layout-fill class="animated slideInRight">
    <md-tab id="tab1" flex layout="column">
        <md-tab-label>未发送（<span>{{(current.imported|filter:{statusSent:false}).length}}</span>）</md-tab-label>
        <md-tab-body flex layout="column">
            <div layout="column">
                <md-content flex layout="column">
                    <div flex layout="column">
                        <md-table-container>
                            <table md-table md-row-select="true" multiple="true" ng-model="nowChecked" class="table-center">
                                <thead md-head>
                                <tr md-row>
                                    <th md-column><span>序号</span></th>
                                    <th md-column><span>{{ templateDetail['employee_name'].label }}</span></th>
                                    <th md-column><span>{{ templateDetail['employee_email'].label }}</span></th>
                                    <th md-column><span>预览</span></th>
                                    <th md-column><span>状态</span></th>
                                    <th md-column><span>发送</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    md-select="row"
                                    md-on-select="onSelectItem"
                                    md-on-deselect="onDeselectItem"
                                    ng-repeat="row in (current.imported|filter:{statusSent:false})"
                                    ng-class="{even: $even, odd: $odd}"
                                >
                                    <td md-cell>{{::($index+1)}}</td>
                                    <td md-cell>{{ row['employee_name'] }}</td>
                                    <td md-cell>{{ row['employee_email'] }}</td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" md-ink-ripple="#f57f17" aria-label="预览" ng-click="onSendItem(row);">
                                            <md-tooltip>预览</md-tooltip>
                                            <ng-md-icon icon="remove_red_eye" style="fill: #f57f17;"></ng-md-icon>
                                        </md-button>
                                    </td>
                                    <td md-cell>
                                        <span ng-if="!row.statusChecked" style="color: {{mdPrimaryColor}};">未发送</span>
                                        <md-button ng-if="row.statusChecked" class="md-icon-button">
                                            <md-tooltip>排队中</md-tooltip>
                                            <ng-md-icon icon="access_time" style="fill: #f57f17;"></ng-md-icon>
                                        </md-button>
                                    </td>
                                    <td md-cell>
                                        <md-button class="md-icon-button md-primary" aria-label="发送" ng-click="onSendItem(row);" ng-disabled="row.statusChecked || row.statusSent">
                                            <md-tooltip ng-if="!row.statusChecked">发送</md-tooltip>
                                            <md-tooltip ng-if="row.statusChecked">排队中</md-tooltip>
                                            <ng-md-icon icon="send" style="fill: {{row.statusChecked ? '#cecece' : mdPrimaryColor}};"></ng-md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                    <md-divider></md-divider>
                    <div style="height: 60px;" layout="row" layout-align="end center">
                        <span flex></span>
                        <span class="table-footer" layout="row" layout-align="end center" ng-if="(current.imported|filter:{statusSent:false}).length">
                            已选择
                            <span class="num">{{nowChecked.length}}</span>
                            条
                        </span>
                        <md-button ng-click="onSendAll();" class="md-raised md-primary" ng-disabled="!nowChecked.length" aria-label="全部发送" ng-if="(current.imported|filter:{statusSent:false}).length">全部发送</md-button>
                        <md-button ng-click="onFinish();" class="md-raised md-primary" aria-label="查看发送结果" ng-if="!(current.imported|filter:{statusSent:false}).length">查看发送结果</md-button>
                    </div>
                </md-content>
            </div>
        </md-tab-body>
    </md-tab>







    <md-tab id="tab2" flex layout="column">
        <md-tab-label>已发送（<span>{{(current.imported|filter:{statusSent:true}).length}}</span>）</md-tab-label>
        <md-tab-body flex layout="column">
            <div layout="column">
                <md-content flex layout="column">
                    <div flex layout="column">
                        <md-table-container>
                            <table md-table class="table-center">
                                <thead md-head>
                                <tr md-row>
                                    <th md-column><span>序号</span></th>
                                    <th md-column><span>{{ templateDetail['employee_name'].label }}</span></th>
                                    <th md-column><span>{{ templateDetail['employee_email'].label }}</span></th>
                                    <th md-column><span>查看</span></th>
                                    <th md-column><span>状态</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="row in (current.imported|filter:{statusSent:true})"
                                    ng-class="{even: $even, odd: $odd}"
                                >
                                    <td md-cell>{{::($index+1)}}</td>
                                    <td md-cell>{{ row['employee_name'] }}</td>
                                    <td md-cell>{{ row['employee_email'] }}</td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" md-ink-ripple="#f57f17" aria-label="查看" ng-click="onSendItem(row);">
                                            <md-tooltip>查看</md-tooltip>
                                            <ng-md-icon icon="remove_red_eye" style="fill: #f57f17;"></ng-md-icon>
                                        </md-button>
                                    </td>
                                    <td md-cell>
                                        <md-button class="md-icon-button">
                                            <md-tooltip>发送成功</md-tooltip>
                                            <ng-md-icon icon="check" style="fill: #2e7d32;"></ng-md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                    <md-divider></md-divider>
                    <div style="height: 60px;" layout="row" layout-align="end center">
                        <span flex></span>
                        <md-button ng-click="onNext();" class="md-raised md-primary" ng-disabled="!(current.imported|filter:{statusSent:true}).length" aria-label="完成">完成</md-button>
                    </div>
                </md-content>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>
