<md-content flex layout="column">
    <div flex layout="column">
        <md-table-container>
                <table md-table md-row-select="true" multiple="true" ng-model="current.checked" class="table-center">
                    <thead md-head>
                        <tr md-row>
                            <th md-column><span>{{ templateDetail['employee_name'].label }}</span></th>
                            <th md-column><span>{{ templateDetail['employee_email'].label }}</span></th>
                            <th md-column><span>预览</span></th>
                            <th md-column><span>状态</span></th>
                            <th md-column><span>发送</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row
                            md-select="row"
                            md-on-select="onSelectItem"
                            md-on-deselect="onDeselectItem"
                            ng-repeat="row in current.imported"
                            ng-class="{even: $even, odd: $odd}"
                            ng-disabled="row.sent"
                        >
                            <td md-cell>{{ row['employee_name'] }}</td>
                            <td md-cell>{{ row['employee_email'] }}</td>
                            <td md-cell>
                                <md-button class="md-icon-button" md-ink-ripple="#f57f17" aria-label="预览" ng-click="onSendItem(row);">
                                    <ng-md-icon icon="remove_red_eye" style="fill: #f57f17;"></ng-md-icon>
                                </md-button>
                            </td>
                            <td md-cell>
                                <span ng-if="!row.checked && !row.sent" style="color: {{mdPrimaryColor}};">未发送</span>
                                <ng-md-icon ng-if="row.checked && !row.sent" icon="access_time" style="fill: #f57f17;"></ng-md-icon>
                                <ng-md-icon ng-if="row.sent" icon="check" style="fill: #2e7d32;"></ng-md-icon>
                            </td>
                            <td md-cell>
                                <md-button class="md-icon-button md-primary" aria-label="发送" ng-click="onSendItem(row);" ng-disabled="row.checked || row.sent">
                                    <ng-md-icon icon="send" style="fill: {{(row.checked || row.sent) ? '#cecece' : mdPrimaryColor}};"></ng-md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
    </div>
    <md-divider></md-divider>
    <div style="height: 60px;" layout="row" layout-align="end center">
        <span class="table-footer" layout="row" layout-align="end center">
            共
            <span class="num">{{current.imported.length}}</span>
            条数据
        </span>
        <span flex></span>
        <span class="table-footer" layout="row" layout-align="end center">
            已选择
            <span class="num">{{current.checked.length}}</span>
            条
        </span>
        <md-button ui-sref="app.sheet.list" aria-label="上一步">上一步</md-button>
        <md-button ng-click="onSendAll();" class="md-raised md-primary" ng-disabled="!current.checked.length" aria-label="全部发送">全部发送</md-button>
    </div>
</md-content>