<md-content flex layout="column" class="animated zoomIn">
    <div flex layout="column">
        <md-content layout-padding="10px">
            <div flex></div>
            <div layout="row">
                <div flex="90" flex-offset="5">
                    <md-content>
                        <div class="md-title">员工信息</div>
                        <div flex="60" flex-offset="20" layout="row" layout-wrap class="md-input-container-higher">
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.employee_email" type="text" placeholder="{{ templateDetail['employee_email'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.employee_name" type="text" placeholder="{{ templateDetail['employee_name'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.employee_department" type="text" placeholder="{{ templateDetail['employee_department'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.employee_workday" type="text" placeholder="{{ templateDetail['employee_workday'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.employee_attendance" type="text" placeholder="{{ templateDetail['employee_attendance'].label }}" ng-required="true">
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content>
                        <div class="md-title">应发项目</div>
                        <div flex="60" flex-offset="20" layout="row" layout-wrap>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.wage_base" type="text" placeholder="{{ templateDetail['wage_base'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.wage_allowance" type="text" placeholder="{{ templateDetail['wage_allowance'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.wage_reward" type="text" placeholder="{{ templateDetail['wage_reward'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.wage_everyday" type="text" placeholder="{{ templateDetail['wage_everyday'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.wage_total" type="text" placeholder="{{ templateDetail['wage_total'].label }}" ng-required="true">
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content>
                        <div class="md-title">扣除项目</div>
                        <div flex="60" flex-offset="20" layout="row" layout-wrap>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.deductions_absence" type="text" placeholder="{{ templateDetail['deductions_absence'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.deductions_sick_leave" type="text" placeholder="{{ templateDetail['deductions_sick_leave'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.deductions_other" type="text" placeholder="{{ templateDetail['deductions_other'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.deductions_social_security" type="text" placeholder="{{ templateDetail['deductions_social_security'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.deductions_provident_fund" type="text" placeholder="{{ templateDetail['deductions_provident_fund'].label }}" ng-required="true">
                            </md-input-container>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.deductions_personal_tax" type="text" placeholder="{{ templateDetail['deductions_personal_tax'].label }}" ng-required="true">
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content>
                        <div class="md-title">实发项目</div>
                        <div flex="60" flex-offset="20" layout="row" layout-wrap>
                            <md-input-container flex="33">
                                <input my-input-uppercase ng-model="template.final_amount" type="text" placeholder="{{ templateDetail['final_amount'].label }}" ng-required="true">
                            </md-input-container>
                        </div>
                    </md-content>
                </div>
            </div>
            <div flex></div>
        </md-content>
    </div>

    <md-divider></md-divider>
    <div style="height: 60px;" layout="row" layout-align="end center">
        <md-button ui-sref="app.home" aria-label="取消">取消</md-button>
        <md-button ng-click="onSave();" class="md-raised md-primary" ng-disabled="current.status<=0" aria-label="保存">保存</md-button>
    </div>
</md-content>