<md-content flex layout="column">
    <div flex></div>
    <div flex layout="row">
        <div flex="50" style="padding: 0 50px;">
            <md-input-container class="md-block">
                <input ng-model="setting.smtp_host" type="text" placeholder="SMTP地址" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="setting.smtp_port" type="text" placeholder="SMTP端口" ng-required="true">
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div flex="50" style="padding: 0 50px;">
            <md-input-container class="md-block">
                <input ng-model="setting.sender_email" type="email" placeholder="邮箱账号" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="setting.sender_password" type="password" placeholder="登录密码" ng-required="true">
            </md-input-container>
        </div>
    </div>
    <div flex></div>
    <md-divider></md-divider>
    <div style="height: 60px;" layout="row" layout-align="end center">
        <md-button ui-sref="app.open">取消</md-button>
        <md-button ng-click="onSave();" class="md-raised md-primary" ng-disabled="current.status<=0">保存</md-button>
    </div>
</md-content>